@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menú de opciones</li>
            <li class="@Url.IsLinkActive("Index", "Cliente")">
                <a href="@Url.Action("Index", "Cliente")"><i class="fa fa-link"></i> <span>Clientes</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Cita")">
                <a href="@Url.Action("Index", "Cita")"><i class="fa fa-link"></i> <span>Citas</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Atencion")">
                <a href="@Url.Action("Index", "Atencion")"><i class="fa fa-link"></i> <span>Atenciones</span></a>
            </li>
            @*<li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>*@
        </ul>
        @* END Menu *@
    </section>
</aside>